fieldset {
  margin-bottom: 20px;
}

.group-select {
  display: inline-block;
  margin-right: 20px;
}

legend {
  display: block;
  width: 100%;
  padding: 0;

  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;

  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;

  border-bottom: 1px solid #e5e5e5;
}
