*.py[co]
*~
.cache
.coverage
dist
docs/_build
docs/build
.ipynb_checkpoints
jupyterhub_cookie_secret
jupyterhub.sqlite
jupyterhub-proxy.pid
*.egg-info
MANIFEST

# IDE
.vscode
.idea

# the local user volumes used for testing
volumes/

# the Ansible file
ansible/hosts*
ansible/users-config.yml
ansible/*.csv

# local TLJH config used for testing
config.yaml

# tljh-repo2docker
*.sqlite
