{% extends "page.html" %}

{% block main %}

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Repository</th>
        <th>Ref</th>
        <th>Status</th>
        <th class="text-center"><a id="add-image" role="button" class="btn btn-primary btn-xs">Add New</a></th>
      </tr>
      {% for image in images %}
      <tr class="image-row" data-image="{{ image.image_name }}">
        <td class="repo-col col-sm-5">
          <a href="{{ image.repo }}" target="_blank">{{ image.repo }}</a>
        </td>
        <td class="ref-col col-sm-3">
          <a href="{{ image.repo }}/tree/{{ image.ref }}" target="_blank">{{ image.ref }}</a>
        </td>
        <td class="status-col col-sm-2">
          {% if image.status == 'building' %}
            <i title="Building" class="fa fa-refresh fa-spin fa-lg fa-fw" style="color: orange;"></i>
          {%- elif image.status == 'built' %}
            <i title="Built" class="fa fa-check-square fa-lg fa-fw" style="color: green;"></i>
          {%- endif %}
        </td>
        <td class="build-col col-sm-1 text-center">
          {%if image.status == 'built' %}
          <a role="button" class="remove-image btn btn-xs btn-danger">
            Remove
          </a>
          {%- endif %}
        </td>
      </tr>
      {% endfor %}
    </thead>
    <tbody>
  </tbody>
  </table>
</div>

{% call modal('Removing image', btn_label='OK', btn_class='btn-primary removing-button') %}
  <div class="text-center">
    <p><i class="fa fa-spinner fa-pulse fa-fw fa-3x"></i></p>
  </div>
{% endcall %}

{% call modal('Remove image', btn_label='Remove', btn_class='btn-danger remove-button') %}
  Are you sure you want to remove the following environment?
  <pre class="delete-image">ENV</pre>
{% endcall %}

{% macro image_modal(name, multi=False) %}
{% call modal(name, btn_class='btn-primary save-button') %}
  <div class="form-horizontal">
    <div class="form-group">
      <label for="repository-url" class="col-sm-4 control-label">Repository URL</label>
      <div class="col-sm-8">
        <input type="text" class="form-control repo-input" id="repository-url"/>
      </div>
    </div>
    <div class="form-group">
      <label for="reference" class="col-sm-4 control-label">Reference (git commit)</label>
      <div class="col-sm-8">
        <input type="text" class="form-control ref-input" id="reference" placeholder="master"/>
      </div>
    </div>
  </div>
{% endcall %}
{% endmacro %}

{{ image_modal('Create Environment') }}

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["images"]);
</script>
{% endblock %}
