{% extends "templates/page.html" %}

{% block nav_bar_left_items %}
<li class="nav-item">
  <a class="nav-link" href="{{ base_url }}home">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ base_url }}token">Token</a>
</li>
{% if user.admin %}
<li class="nav-item">
  <a class="nav-link" href="{{ base_url }}admin">Admin</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ base_url }}permissions">Permissions</a>
</li>
{% if services %}
  {% for service in services %}
    <li class="nav-item">
      <a class="nav-link" href="{{service.prefix}}" style="text-transform: capitalize;">{{service.name}}</a></li>
</li>
  {% endfor %}
{% endif %}
{% endif %}
{% endblock %}
