{% extends "page.html" %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ base_url }}permissions-static/css/style.css" type="text/css"/>
{% endblock %}

{% block main %}

<div class="environment-select hidden">
  <select class="form-control">
    {% for image in images %}
    <option value="{{ image.image_name }}">{{ image.display_name }}</option>
    {% endfor %}
  </select>
  <a role="button" class="remove-environment btn btn-danger btn-xs">Remove</a>
</div>

<form class="container form-inline" action="">
  {% for group in groups %}
  <fieldset class="group-field" data-group="{{ group }}">
    <legend>Group: {{ group }}
      <button type="button" class="add-environment btn btn-primary btn-xs pull-right">Add Environment</button>
    </legend>
  </fieldset>
  {% endfor %}
  <button type="submit" class="submit btn btn-primary">Submit</button>
</form>

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["{{ base_url }}permissions-static/js/permissions.js"]);
</script>
{% endblock %}
