{% extends "page.html" %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ service_prefix }}service_static/css/style.css" type="text/css" />
{% endblock %}

{% block main %}

<script type="text/javascript">
    require(["{{ service_prefix }}service_static/js/permissions.js"]);
</script>


{% macro group_selector(name='', selected_group='', hidden='') %}
<div class="group-select {{ hidden }}">
    <select name="{{ name }}" class="form-control">
        {% for group in groups %}
        <option value="{{ group }}" {% if group==selected_group %} selected="selected" {% endif %}>{{ group }}</option>
        {% endfor %}
    </select>
    <button type="button" class="remove-group btn btn-danger btn-sm">
        <i class="fa fa-trash"></i>
    </button>
</div>
{% endmacro %}

{{ group_selector('', '', 'd-none') }}

<div class="form-wrapper">
    <form class="container form" action="">
        <div class="form-scroll">
            {% for image in images %}
            <fieldset class="group-field" data-environment="{{ image.image_name }}">
                <legend>
                    <a href="{{ image.repo }}/tree/{{ image.ref }}" target="_blank">{{ image.display_name }}</a>
                </legend>
                <button type="button" class="add-group btn btn-primary btn-sm">Add Group</button>
                {% if image.image_name in permissions %}
                {% for group in permissions[image.image_name] %}
                {{ group_selector(image.image_name, group) }}
                {% endfor %}
                {%- endif %}
            </fieldset>
            {% endfor %}
        </div>
        <div class="form-submit">
            <button type="submit" class="submit btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% call modal('Saving Permissions', btn_label='OK', btn_class='btn-primary saving-button') %}
<div class="text-center">
    <p><i class="fa fa-spinner fa-pulse fa-fw fa-3x"></i></p>
</div>
{% endcall %}

{% endblock %}
