{% extends "page.html" %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ base_url }}permissions-static/css/style.css" type="text/css"/>
{% endblock %}

{% block main %}

{% macro image_selector(name='', selected_image='', hidden='') %}
<div class="environment-select {{ hidden }}">
  <select name="{{ name }}" class="form-control">
    {% for image in images %}
    <option value="{{ image.image_name }}" {% if image.image_name == selected_image %} selected="selected" {% endif %}>{{ image.display_name }}</option>
    {% endfor %}
  </select>
  <a role="button" class="remove-environment btn btn-danger btn-xs">Remove</a>
</div>
{% endmacro %}

{{ image_selector('', '', 'hidden') }}

<form class="container form-inline" action="">
  {% for group in groups %}
  <fieldset class="group-field" data-group="{{ group }}">
    <legend>Group: {{ group }}
      <button type="button" class="add-environment btn btn-primary btn-xs pull-right">Add Environment</button>
    </legend>

    {% if group in permissions %}
      {% for image in permissions[group] %}
        {{ image_selector(group, image) }}
      {% endfor %}
    {%- endif %}
  </fieldset>
  {% endfor %}
  <button type="submit" class="submit btn btn-primary">Submit</button>
</form>

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["{{ base_url }}permissions-static/js/permissions.js"]);
</script>
{% endblock %}
