# https://docs.ansible.com/ansible/latest/reference_appendices/config.html

[defaults]
# Adds time information to tasks.
# https://docs.ansible.com/ansible/latest/plugins/callback/profile_tasks.html
callback_whitelist = profile_tasks
# Use the YAML format
result_format = yaml
# Also, use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True