---
- hosts: all
  become: true
  
  vars:
    default_user_group: plasma-users

  tasks:
    - name: Add default user group
      group:
        name: "{{ default_user_group }}"
        state: present
  
    - name: Add groups
      group:
        name: "{{ item }}"
        state: present
      loop: "{{ user_groups }}"

    - name: Add users
      user:
        name: "{{ item.name }}"
        groups: "{{ item.groups if item.groups is defined else default_user_group }}"
        password: "{{ item.password | password_hash('sha512') }}"
        shell: /bin/bash
      loop: "{{ users }}"

    - name: Set user quota
      shell: |
        setquota -u {{ item.name }} \
        {{ item.quota.soft if item.quota.soft is defined else quota.soft }} \
        {{ item.quota.hard if item.quota.hard is defined else quota.hard }} \
        0 0 /
      when: quota is defined or item.quota is defined
      loop: "{{ users }}"
